name: Push gem to RubyGems.org

on:
  push:
    tags:
      - 'v*'

jobs:
  push:
    name: Push gem to RubyGems.org
    runs-on: ubuntu-latest
    environment:
      name: production
    permissions:
      id-token: write
      contents: write
    steps:
      - name: Checkout
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Release gem
        uses: rubygems/release-gem@v1
